<div class="archives mt-5 w-50" style="padding: 20px;color: #fff!important;text-shadow: 0 2px 2px rgba(0,0,0,.2);text-align: center;">
    <div class="archives_wrapper mt-5">
        <div id="block_latest" class="block rounded bgarchive">
            <div class="block_header">
                <h3 class="title">Vos Archives</h3>
            </div>
            <div class="filters m-2">
                <h3>Filtre</h3>

                <label for="codeInput">Code :</label>
                <input type="text" placeholder="Code" [(ngModel)]="codeFilter" (input)="filterData()" />
                <!--<input type="date" placeholder="From Date" [(ngModel)]="fromDateFilter" (change)="filterData()" />
                <input type="date" placeholder="To Date" [(ngModel)]="toDateFilter" (change)="filterData()" />-->
            </div>

            <div class="block_content">
                <table class="table-head table-show_columns table-scroll">
                    <tbody>
                    <tr>
                        <th>Numéro</th>
                        <th>Nom</th>
                        <th>Date</th>
                        <th>Nombre de joueurs</th>
                        <th>Voir</th>
                        <!-- ... autres colonnes ... -->
                    </tr>
                    </tbody>
                </table>
                <!--<table class="table-head table-show_columns table-scroll">
                    <tbody>
                    <tr *ngFor="let item of data">
                        <td>{{ item.code }}</td>
                        <td>{{ item.text }}</td>
                        <td>{{ item.date }} - {{item.time}}</td>
                        <td>{{ item.score }}</td>
                        <td>
                            <button [routerLink]="['/content', item.code]"><img src="../../../assets/img/icons8-visible-50.png" class="text-white w-50 rounded border-0"/></button>
                        </td>
                    </tr>
                    </tbody>
                </table>   -->     

                <div class="viewport-wrapper">
                    <cdk-virtual-scroll-viewport itemSize="50" class="viewport  table-head table-show_columns table-scroll" #viewport>
                      <div *cdkVirtualFor="let item of filteredData" class="item">

                            <div class="tr">
                              <div class="td">{{ item.code }}</div>
                              <div class="td">{{ item.text }}</div>
                              <div class="td">{{ item.date }} - {{item.time}}</div>
                              <div class="td">{{ item.score }}</div>
                              <div class="td">
                                <button [routerLink]="['/content', item.code]">
                                  <img src="./assets/img/icons8-visible-50.png" class="text-white w-50 rounded border-0 click" />
                                </button>
                                <!--<button (click)="openNewWindow(item.code)">
                                    <img src="./assets/img/icons8-visible-50.png" class="text-white w-50 rounded border-0" />
                                  </button>-->
                              </div>
                              <!-- ... autres cellules ... -->
                            </div>
                      </div>
                    </cdk-virtual-scroll-viewport>
                  </div>   
            </div>
        </div>

        
    </div>

</div>

