.archives{
    padding: 20px;
    color: #fff!important;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    text-align: center;
}

td{
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.table-scroll{
    max-height: 500px; /* Changer cette valeur pour ajuster la hauteur maximale */
    overflow-y: auto;
    overflow-x: hidden;
}

.item{
    display: block;width: 100%;
}

.tr{
    display:flex;
}
.td{
    color: #fff!important;
    text-shadow: 0 2px 2px rgba(0,0,0,.2);
    text-align: center;
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}
.viewport-wrapper{
    height:500px;
}

.viewport{
    height:500px;
}
.title{
    color: #FFEFBF;
}