header {
    /*background: radial-gradient(#634267, transparent);
    background: radial-gradient(circle, #634267, transparent);
    background: -webkit-radial-gradient(#634267, transparent);
    background: -webkit-radial-gradient(circle, #634267, transparent);
    background: -moz-radial-gradient(#634267, transparent);
    background: -moz-radial-gradient(circle, #634267, transparent);*/
    background: radial-gradient(100.29% 295.35% at 50% 0%, #634267 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(90deg, rgba(14, 32, 70, 0.50) 0%, #2338B0 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

    /*background: linear-gradient(to right, #0E2046, transparent);
    background: -webkit-linear-gradient(left, #0E2046, transparent);
    background: -moz-linear-gradient(right, #0E2046, transparent);*/
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    text-align: center;
    color: #FFEFBF;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed; /* Position fixe pour maintenir le header en place */
    top: 0; /* Place le header au sommet de la page */
    left: 0;
    width: 100%; /* Largeur totale de la page */
    z-index: 1000;
  }
  
.archive-header{
    background: radial-gradient(100.29% 295.35% at 50% 0%, #634267 0%, rgba(0, 0, 0, 0.00) 100%), linear-gradient(90deg, rgba(14, 32, 70, 0.50) 0%, #2338B0 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    height: 40px; /* Ajustez la hauteur selon vos besoins */
    color: #FFEFBF;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    top: 0; /* Place le header au sommet de la page */
    left: 0;
    width: 100%; /* Largeur totale de la page */
    z-index: 1000;
    position:relative;
    justify-content: left;
}
  h1{
    color: #FFEFBF;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
  }
  
  .loading-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  body{
    background:url("../assets/img/background-archives.png")!important
  }

  .click{
    cursor: pointer;
  }