<!-- <header>
  <h1>Lgel memories</h1>
</header>

<div class="centered-div">
  <h1>Bienvenue dans lgel memories !</h1>
  <h2>Work in progress</h2>

  <p>Afin d'importer vos archives nous allons vous guider pas à pas dans ce tutoriel : </p>

  <p>(Disclaimer : ce tutoriel ne marchera que si le site lgel est encore actif)</p>
    
  <p>Étape 1 : rendez-vous sur le site de lgel et connectez-vous.</p>
    
  <p>Étape 2 : dans votre profil cliquez sur "voir plus de détails" puis sur "voir toutes mes parties"
    
  <p>Étape 3 : attendez que la page soit complètement chargée !! Une fois chargée faite un clique droit enregistrez sous n'importe où sur la page internet</p>
    
  <p>Étape 4 : une fois la page internet téléchargé vous allez avoir un dossier et un fichier .html, cliquez sur le bouton ici en dessous et importez le fichier .html téléchargé</p>

  <input type="file" (change)="onFileSelected($event)" accept=".html" />
  <button (click)="importFile()">Importer un fichier HTML</button>
</div> -->
<header class=" text-white text-center py-3" *ngIf="!isContentRoute()">
  <h1>Lgel Memories</h1>
</header>
<header class="archive-header" *ngIf="isContentRoute()">
  <a mat-button routerLink="/" class="ml-2 mb-2">                                 
    <img src="./assets/img/icons8-accueil-50.png" class="text-white w-50 rounded border-0 click" />
  </a>
</header>
<div *ngIf="!isLoaded" class="loading-circle">
  <!-- Ajoutez ici votre animation ou composant de chargement -->
  <div class="spinner"></div>
</div>
<app-archive *ngIf="isArchiveNotEmpty && isLoaded && !isContentRoute()"></app-archive>
<app-download *ngIf="!isArchiveNotEmpty && isLoaded && !isContentRoute()"></app-download>
<router-outlet></router-outlet>


