.centered-div {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: #1E2862;
    padding: 20px;
    color: white;
    border-radius: 8px;
  }

  input[type="file"] {
    display: block;
    margin: 20px auto;
  }

  .text-left{
    text-align: left;
  }

  .text-red{
    color:red;
  }

  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  .loading-circle {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }

  .spinner-container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    width: 50px; /* Ajustez la largeur si nécessaire */
    height: 50px; /* Ajustez la hauteur si nécessaire */
    margin-bottom: 10px; /* Ajoute un espace sous le spinner */
  }
  
button {
  border-radius: 9px;
  border-radius: 9px;
  background: linear-gradient(180deg, rgba(10, 21, 83, 0.20) 0%, rgba(30, 40, 98, 0.20) 100%), radial-gradient(100.04% 100% at 50.51% 0%, #634267 0%, rgba(99, 66, 103, 0.00) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 20px;
  background-color: none;
  color: #1E2862;
  border: 2px solid #1E2862;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size:1em;
  border-radius: 0.25em;
  
}
