<div class="container mt-5">
    <div class="centered-div">
      <h1 class="text-white mt-0">Bienvenue dans Lgel Memories!</h1>
      <h2 class="font-italic">Work in Progress</h2>
  
      <p class="mb-0">Afin d'importer vos archives, nous allons vous guider pas à pas dans ce tutoriel :</p>
  
      <p class="font-italic small">
        (Disclaimer : ce tutoriel ne marchera que si le site Lgel est encore actif)
      </p>
  
      <p class="text-left">Étape 1 : rendez-vous sur le site de Lgel et connectez-vous.</p>
  
      <p class="text-left">Étape 2 : dans votre profil, cliquez sur "voir plus de détails" puis sur "voir toutes mes parties".</p>
  
      <p class="text-left">Étape 3 : attendez que la page soit complètement chargée ! Une fois chargée, faites un clic droit et enregistrez sous n'importe où sur la page internet.</p>
  
      <p class="text-left">Étape 4 : une fois la page internet téléchargée, vous allez avoir un dossier et un fichier .html. Prenez ce fichiez et déposez le dans le fichier "DEPOT-FICHIER-ICI"</p>

      <p class="small">Si jamais le dossier ce déplace avec le html pas de soucis le code va gérer. De même si vous ajoutez plusieurs listes d'archives.</p>
        
      <p>Cliquez sur le bouton ci-dessous pour importer le fichier .html téléchargé.</p>
  
      <!-- <input type="file" class="form-control-file mt-3" (change)="onFileSelected($event)" accept=".html" />
  
      <button class="btn mt-3 border-0" (click)="importFile()" [disabled]="!fileSelected">Importer un fichier HTML</button>-->
      <p class="text-red" *ngIf="errorMessage"> Error dans le traitement des archives, est ce que vous avez mis le fichier dans le dépot ?</p>
      <p class="font-weight-bold" *ngIf="traitementMessage"> Traitement en cours des archives patientez</p>
      
      <div *ngIf="traitementMessage" class="loading-circle">
        <div class="spinner-container">
          <div class="spinner"></div>
        </div>
      </div>
      <button class="btn mt-3 border-0" (click)="importList()">Importer un fichier HTML</button>
    </div>
  </div>