/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Oswald', sans-serif;
    background-image: url('assets/img/fond.png');
    background-size: cover;
    background-repeat: no-repeat;
  }

button {
    border-radius: 9px;
    border-radius: 9px;
    background: linear-gradient(180deg, rgba(10, 21, 83, 0.20) 0%, rgba(30, 40, 98, 0.20) 100%), radial-gradient(100.04% 100% at 50.51% 0%, #634267 0%, rgba(99, 66, 103, 0.00) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 10px 20px;
    background-color: none;
    color: #1E2862;
    border: 2px solid #1E2862;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size:1em;
    border-radius: 0.25em;
    
}

button:disabled{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.50) 0%, rgba(99, 66, 103, 0.50) 99.99%, rgba(96, 20, 61, 0.50) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border:none!important;
    color:white;
}

h1{
    height: 100px; /* Ajustez la hauteur selon vos besoins */
    text-align: center;
    color: #FFEFBF;
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
}