body{
    background-color:#0a1239;
    color:#fff;
    font-family:Verdana;
    font-size:12px;
    background-image:url(../../../assets/img/backgroundArchives.jpg)!important;
    background-repeat:repeat-x;
    background-position:bottom;
    background-attachment:fixed;
    overflow:hidden
}

#actions.col-3{
    position:relative!important;
}